In [1]:
import os
os.chdir("..")
assert "data_prep" in os.listdir()

In [20]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv("data/metadata_country/worldBank_fertmort_data.csv")

In [14]:
data.head(2)

,Series Name,Series Code,Country Name,Country Code,2015 [YR2015]
0,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Afghanistan,AFG,5.405
1,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Albania,ALB,1.613

In [15]:
data["Series Name"].unique()

array(['Fertility rate, total (births per woman)',
       'Mortality rate, adult, female (per 1,000 female adults)',
       'Mortality rate, adult, male (per 1,000 male adults)',
       'Mortality rate, infant (per 1,000 live births)'], dtype=object)

In [16]:
list_of_df = []
for group, df_ in data.groupby("Series Name"):
    df_ = df_[["Country Code", "2015 [YR2015]"]]
    df_ = df_.set_index("Country Code")
    df_.columns = [group]
    list_of_df.append(df_)

In [19]:
df_data = pd.concat(list_of_df, axis=1)

In [22]:
df_data = df_data.replace("..", np.NaN)

In [23]:
df_data.to_excel("data/metadata_country/MortalityFertilityData.xlsx")